h1{
text-align:center;
font-family: sans-serif;
}
h2{
text-align:center;
color:#001f3f;
text-decoration: underline;
}
input{
border-radius: 3px;
text-align: center;
}
p{
margin-left: 20px;
font-size:35px; 
color: #001f3f;
}
.button {
  background-color:#001f3f;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  height: 32px;
}
.login{
background-color: white;
width: 500px;
margin: auto;
height: 300px
}
#name{
height: 40px;
width: 310px;
margin-left: 74px;
}
.bottom{
margin-top: 330px;
}
